/*
Project Name: Assignment 3 - Relaxr Blog
Client: Relaxr
Author: Ellen Finnegan
Developer @GA in Boston
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.light {
font-weight:300;
}
.lightitalic {
  font-weight: 300;
}

.regular {
  font-weight: 400;
  }}

.semibold {
font-weight:600;
}

.extrabold {
font-weight:800;
}



/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 300px;
  line-height: 1.4;
  text-decoration: none;
}

.blog {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 0px;
    border-bottom: 1px black solid;

}


.blog p:first-letter{
  font-size: 50px;
}

.blog img {
  max-width:100%;
  max-height:100%;
}

.logo {
  color: white;
  font-size: 24px;
  margin: 0px;
  float: left;
}

.logotwo {
  padding: 50px;
  color: #f9e42e;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 1000px;
  margin: auto;
  background-color: #e5e6e8;
  text-decoration: none;
}

h1 {
  height: auto;
  font-weight: 800;
  font-size: 48px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  font-weight: 800;
}

nav {
  font-weight: 600;
  float: right;
  clear: bottom;
}

nav li {
  float: left;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #f9e42e;
}

header {
  background-color: #033048;
  width: auto;
  padding: 75px;
}

.main {
  width: 700px;
  float: left;
  padding: 10px;
  margin: 10px;
}

aside {
  float: left;
  width: 240px;
  padding: 5px;
  clear: all;
}

#ad {
  clear:both;
  margin: 10px;
  max-width:100%;
  max-height:100%;
}

#peerpressure {
  background-color: #f9e42e;
  padding:20px 350px;
  clear:both;
}

#signup {
  color:#ffffff;
  font-weight: 800;
  text-align: center;
  background-color:#033048;
  font-size:24px;
  border:1px solid #033048;
  border-radius: 5px; 
}

#signup a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover { 
  background-color: #ffffff;
}


.categories {
  float: left;
  float: top;
  color: #033048;
  font-size: 24px;
  margin: 10px;
}

.categories ul {
  padding-top: 5px;
}

.categories li {
  font-weight: 300;
  margin-left: 10px;
}

.about {
  float: right;
  float: top;
  color: #033048;
  font-size: 22px;
  font-weight: 300;
  margin: 10px;
}

.about p {
  padding-top: 10px;
}

.more {
  text-align: right;
  color: #033048;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 10px 0px 500px;

}


.learn {
  float: left;
  color: #033048;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}


.social {
  margin-left: 425px;
  margin-right: 425px;
}


.twitter {
  margin: 10px;
  float: left;
  clear: all;
}

.facebook {
  margin: 10px;
  float: right;
}


footer {
  background-color: #121212;
  clear:both;
  text-align: center;
  color: white;
}

.copy {
  font-size: 14px;
  padding: 100px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans (Google Font: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans)
Weight: Light, Light Italic, Semibold, Extrabold

Main column width: 700px
Sidebar width: 240px
Gutter: 20px
